## Subpackage `column_transformer`

This subpackage contains the following modules
- _base
- _series_processor

In [1]:
import sys
sys.path.append('..')

### _series_processor

#### Class `SeriesProcessor`

- method `series`

In [6]:
from complexdf_processor.column_transformer import SeriesProcessor
sp = SeriesProcessor()
lst = [(1,1),(0,0.5),(-1,-2)]
sp.series(lst)

- method `unique`

- method `rotate`

- method `conj`

SyntaxError: invalid syntax (2886817246.py, line 1)

### _base

#### ColumnDropTrivial

In [2]:
import math
import pandas as pd
from complexdf_processor.column_transformer import ColumnDropTrivial,SeriesProcessor
sp = SeriesProcessor()
s1 = sp.series([(1,1),(1,1),(1,1),(1,1),(1,1)])
s2 = sp.series([(1,1),(-1,1),(1.5,-1.5),(0,2.5),(-3.2,0)])
s3 = sp.series([(1.2,1.1),(2.1,1),(1.5,-1.5),None,(-3.2,0)])
X = pd.DataFrame({'s1':s1,'s2':s2,'s3':s3})
cmr = ColumnDropTrivial()
cmr.fit_transform(X)

         s2        s3
0      1+1i  1.2+1.1i
1     -1+1i    2.1+1i
2  1.5-1.5i  1.5-1.5i
3    0+2.5i      None
4   -3.2+0i   -3.2+0i

#### ColumnMapRotate

In [3]:
import math
import pandas as pd
from complexdf_processor.column_transformer import ColumnMapRotate,SeriesProcessor
sp = SeriesProcessor()
s1 = sp.series([(1,1),(1,1),(1,1),(1,1),(1,1)])
s2 = sp.series([(1,1),(-1,1),(1.5,-1.5),(0,2.5),(-3.2,0)])
s3 = sp.series([(1.2,1.1),(2.1,1),(1.5,-1.5),None,(-3.2,0)])
X = pd.DataFrame({'s1':s1,'s2':s2,'s3':s3})
cmr = ColumnMapRotate(math.pi/2)
cmr.fit_transform(X)

          s1         s2         s3
0  -1.0+1.0i  -1.0+1.0i  -1.1+1.2i
1  -1.0+1.0i  -1.0-1.0i  -1.0+2.1i
2  -1.0+1.0i   1.5+1.5i   1.5+1.5i
3  -1.0+1.0i  -2.5+0.0i        NaN
4  -1.0+1.0i  -0.0-3.2i  -0.0-3.2i

#### ComplexDfConjugate