## column_Transformer

This subpackage contains the following modules
- _base
- _series_processor

In [1]:
import sys
sys.path.append('..')

### _series_processor

### _base

#### ColumnDropTrivial

In [1]:
import os
os.sys.path.append('..')
import math
import pandas as pd
import numpy as np
from complexdf_processor.column_transformer import ColumnMapRotate,SeriesProcessor

sp = SeriesProcessor()
s1 = sp.series([(1,1),(1,1),(1,1),(1,1),(1,1)])
s2 = sp.series([(1,1),(-1,1),(1.5,-1.5),(0,2.5),(-3.2,0)])
s3 = sp.series([(1.2,1.1),(2.1,1),(1.5,-1.5),None,(-3.2,0)])
X = pd.DataFrame({'s1':s1,'s2':s2,'s3':s3})

cmr = ColumnMapRotate(math.pi/2)
cmr.fit_transform(X)

          s1         s2         s3
0  -1.0+1.0i  -1.0+1.0i  -1.1+1.2i
1  -1.0+1.0i  -1.0-1.0i  -1.0+2.1i
2  -1.0+1.0i   1.5+1.5i   1.5+1.5i
3  -1.0+1.0i  -2.5+0.0i        NaN
4  -1.0+1.0i  -0.0-3.2i  -0.0-3.2i

In [4]:
cmr = ColumnMapRotate(math.pi/2)
cmr.fit_transform(X)

0.0+1.0i
0.0+1.0i
0.0+1.0i

          s1         s2         s3
0  -1.0+1.0i  -1.0+1.0i  -1.1+1.2i
1  -1.0+1.0i  -1.0-1.0i  -1.0+2.1i
2  -1.0+1.0i   1.5+1.5i   1.5+1.5i
3  -1.0+1.0i  -2.5+0.0i        NaN
4  -1.0+1.0i  -0.0-3.2i  -0.0-3.2i

In [13]:
X

     s1        s2        s3
0  1+1i      1+1i  1.2+1.1i
1  1+1i     -1+1i    2.1+1i
2  1+1i  1.5-1.5i  1.5-1.5i
3  1+1i    0+2.5i      None
4  1+1i   -3.2+0i   -3.2+0i

#### ColumnMapRotate

#### ComplexDfConjugate